/src/main/java/Entity/
/src/main/java/Entity/AllCourse.java
/src/main/java/Entity/ChooseUnit.java
/src/main/java/Entity/Course.java
/src/main/java/Entity/Employee.java
/src/main/java/Entity/GradeCourse.java
/src/main/java/Entity/Person.java
/src/main/java/Entity/Professor.java
/src/main/java/Entity/StatusEmployee.java
/src/main/java/Entity/Student.java
